---
import "@/styles/global.css"
import { Navbar } from "@/components/layout/Navbar"
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts"

interface Props {
  title?: string
  description?: string
  image?: ImageMetadata
}

const { title, description, image } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title || SITE_TITLE}</title>
    <meta name="description" content={description || SITE_DESCRIPTION} />
  </head>
  <body class="dark">
    <Navbar client:load />
    <main>
      <slot />
    </main>
  </body>
</html>
